<head>
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/layouts.css" />
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/square-layouts.css" />
	<style type="text/css">
		.layout-item-square {
			width: 295px;
			height: 295px;
			border: 10px solid white;
		}
		.letterbox {
			background-color: rgb(255, 255, 255);
			background-image: none;
			border: 10px solid white;
		}
	</style>
</head>

<div class="container">
	<div class="collage">
	  <div class="grid-item layout-item-square" style="left: 0px; top: 0px;"></div>
	  <div class="grid-item layout-item-square" style="left: 295px; top: 0px;"></div>
	  <div class="grid-item layout-item-square" style="left: 590px; top: 0px;"></div>
	  <div class="grid-item layout-item-square" style="left: 885px; top: 0px;"></div>

	  <div class="grid-item layout-item-square" style="left: 0px; top: 300px;"></div>
	  <div class="grid-item layout-item-square" style="left: 0px; top: 600px;"></div>
	  <div class="grid-item layout-item-square" style="left: 0px; top: 900px;"></div>

	  <div class="grid-item layout-item-square" style="left: 885px; top: 300px;"></div>
	  <div class="grid-item layout-item-square" style="left: 885px; top: 600px;"></div>

	  <div class="grid-item layout-item-square" style="left: 885px; top: 900px;"></div>

	  <div class="grid-item layout-item-square" style="height: 280px; left: 0px; top: 1200px;"></div>
	  <div class="grid-item layout-item-square" style="height: 280px; left: 295px; top: 1200px;"></div>
	  <div class="grid-item layout-item-square" style="height: 280px; left: 590px; top: 1200px;"></div>
	  <div class="grid-item layout-item-square" style="height: 280px; left: 885px; top: 1200px;"></div>
	  <div class="grid-item layout-item-square" style="height: 888px; width: 580px; left: 295px; top: 300px;"></div>
	</div>
</div>