<head>
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/layouts.css" />
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/square-layouts.css" />
	<style type="text/css">
		.layout-item-square {
			width: 288px;
			height: 288px;
			border: 10px solid white;
		}
		.letterbox {
			background-color: rgb(255, 255, 255);
			background-image: none;
			border: 10px solid white;
		}
	</style>
</head>

<div class="container">
	<div class="collage">
	  <div class="grid-item layout-item-square" style="width: 300px; height: 480px; left: 0px; top: 1000px;"></div>
	  <div class="grid-item layout-item-square" style="width: 300px; height: 480px; left: 300px; top: 1000px;"></div>
	  <div class="grid-item layout-item-square" style="width: 300px; height: 480px; left: 600px; top: 1000px;"></div>
	  <div class="grid-item layout-item-square" style="width: 280px; height: 480px; left: 900px; top: 1000px;"></div>

	  <div class="grid-item layout-item-square" style="width: 1180px; height: 1000px; left: 0px; top: 0px;"></div>
	</div>
</div>