<head>
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/layouts.css" />
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/square-layouts.css" />
	<style type="text/css">
		.layout-item-square {
			width: 288px;
			height: 288px;
		}
		.letterbox {
			background-color: rgb(255, 255, 255);
			background-image: none;
			border: 10px solid white;
		}
	</style>
</head>

<div class="container">
	<div class="collage">
	  <div class="grid-item layout-item-square" style="width: 386px; height: 735px; left: 10px; top: 10px;"></div>
	  <div class="grid-item layout-item-square" style="width: 387px; height: 735px; left: 406px; top: 10px;"></div>
	  <div class="grid-item layout-item-square" style="width: 386px; height: 735px; left: 803px; top: 10px;"></div>

	  <div class="grid-item layout-item-square" style="width: 386px; height: 735px; left: 10px; top: 755px;"></div>
	  <div class="grid-item layout-item-square" style="width: 387px; height: 735px; left: 406px; top: 755px;"></div>
	  <div class="grid-item layout-item-square" style="width: 386px; height: 735px; left: 803px; top: 755px;"></div>
	</div>
</div>