<head>
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/layouts.css" />
	<link rel="stylesheet" type="text/css" href="/apps/Andover-Senior-Page-Generator/css/square-layouts.css" />
	<style type="text/css">
		.layout-item-square {
			width: 288px;
			height: 288px;
			border: 10px solid white;
		}
		.letterbox {
			background-color: rgb(255, 255, 255);
			background-image: none;
			border: 10px solid white;
		}
	</style>
</head>

<div class="container">
	<div class="collage">
	  <div class="grid-item layout-item-square" style="height: 400px; width: 500px; left: 0px; top: 0px;"></div>
	  <div class="grid-item layout-item-square" style="height: 200px; width: 350px; left: 500px; top: 0px;"></div>
	  <div class="grid-item layout-item-square" style="height: 200px; width: 350px; left: 500px; top: 200px;"></div>
	  <div class="grid-item layout-item-square" style="height: 400px; width: 330px; left: 850px; top: 0px;"></div>

	  <div class="grid-item layout-item-square" style="height: 300px; width: 200px; left: 0px; top: 410px;"></div>
	  <div class="grid-item layout-item-square" style="height: 300px; width: 400px; left: 200px; top: 410px;"></div>
	  <div class="grid-item layout-item-square" style="height: 300px; width: 400px; left: 600px; top: 410px;"></div>
	  <div class="grid-item layout-item-square" style="height: 300px; width: 180px; left: 1000px; top: 410px;"></div>

	  <div class="grid-item layout-item-square" style="height: 760px; width: 400px; left: 0px; top: 720px;"></div>
	  <div class="grid-item layout-item-square" style="height: 380px; width: 260px; left: 410px; top: 720px;"></div>
	  <div class="grid-item layout-item-square" style="height: 380px; width: 260px; left: 410px; top: 1100px;"></div>
	  <div class="grid-item layout-item-square" style="height: 250px; width: 500px; left: 680px; top: 720px;"></div>

	  <div class="grid-item layout-item-square" style="height: 500px; width: 500px; left: 680px; top: 980px;"></div>
</div>